main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.textBody {
  background-color: bisque;
  display: flex;
}
.realtext {
  width: 35%px;
  min-height: 50vh;
  background-color: orange;
  flex-grow: 3;
}
.loginBox {
  width: 35%;
  background-color: chartreuse;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.loginBox.* {
  margin-bottom: 25px;
}
.loginBox :last-child {
  margin-bottom: 0;
}
